.nav-wrapper {
    padding-left: 15px;
    background-color: gray;
}

.brand-logo {
    font-size: 15px !important;
    margin-top: 3px;
}

.workout-logo {
    margin-right: 5px;
}

h2 {
    font-size: 2,5rem !important;
    text-align: center;
}

h3 {
    font-size: 1.7rem;
}

/* ************************************************** Footer */

.page-footer {
    background-color: gray;
    padding: 15px 0;
}

/* ************************************************** Home page */

.background-container {
    background-image: url(/static/img/back_img.jpg);
    background-position: left;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    background-color: black;
    color: white;
    text-align: center;
}

.home-box {
    margin-top: 130px;
    padding: 10px;
    background-color: rgba(0,0,0,0.5)
}

.home-text {
    padding: 10px 0;
}

.btn {
    background-color: gray;
}

.btn:hover {
    background-color: black;
}

.btn {
    margin: 10px 0;
}

/* ************************************************** Login and register pages */

.login-reg-box {
    margin-top: 100px;
    background-color: rgba(0,0,0,0.5)
}

.login-box i {
    padding-top: 10px;
}

/* ************************************************** Exercise groups page */

.groups-container {
    background-image: url(/static/img/back_groups.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% center left;
    background-attachment: fixed;
    min-height: 100vh;
    color: white;
    text-align: center;
    padding: 80px 0;
}

.groups-box {
    height: 600px;
    overflow: hidden;
    position: relative;
    text-align: center;
    color: white;
    padding: 10px !important;
}

.groups-box img {
    opacity: 0.8;
}

.push-img {
    background-image: url(/static/img/push1.jpg);
    background-size: cover;
    background-position: 50% 25%;
}

.pull-img {
    background-image: url(/static/img/pull.jpg);
    background-size: cover;
    background-position: 50% 0%;
}

.legs-img {
    background-image: url(/static/img/legs.jpg);
    background-size: cover;
    background-position: 50% 50%;
}

.core-img {
    background-image: url(/static/img/core.jpg);
    background-size: cover;
    background-position: 50% 25%;
}

.groups-box img:hover {
    opacity: 1;
}

.group-name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    padding: 45px 5px;
    font-size: 25px;
    border: 0.125rem solid black;
    width: 130px;
    height: 130px;
    border-radius: 50%;
}

/* ************************************************** Individual exercise groups pages */

.card {
    color: black;
}

.push-pic {
    background-image: url(/static/img/push1.jpg);
}

.pull-pic {
    background-image: url(/static/img/pull.jpg);
}

.legs-pic {
    background-image: url(/static/img/legs.jpg);
}

.core-pic {
    background-image: url(/static/img/core.jpg);
}

.card-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
}

.header {
    color: white;
    font-weight: 300;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 24px;
}

.exercise-name {
    padding: 0 10px;
}

.instructions {
    padding: 20px;
}

/* ************************************************** Media Queries */

@media (min-width:385px) {
    .brand-logo {
        font-size: 20px !important;
    }
}

@media (min-width:534px) {
    h2 {
        font-size: 30px !important;
    }

    .background-container {
        background-position: center;
    }
}