{% extends 'base.html' %}
{% block content %}
<section class="background-container">
	<div class="row">
		<div class="login-reg-box col s10 offset-s1 m8 offset-m2">

			<!-- Header -->
			<div class="row">
				<h2>Add a new exercise</h2>
			</div>
			<div class="row center-align">
				<span class="col s10 offset-s1 hide-on-small-only">Please fill out the following fields in order to add a new exercise.</span>
			</div>
			<div class="row">

				<!-- Add exercise form -->
                <form action="{{ url_for('insert_exercise', category=category) }}" method="POST" class="col s10 offset-s1">

                    <!-- Select input field for muscle group -->
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">dashboard</i>
                            <select name="category_name" required>
                                <option value="" disabled selected>Choose Muscle Group</option>

                                {% for cat in categories %}
                                <option value="{{cat}}">{{cat}}</option>
                                {% endfor %}
                            </select>
                            <label>Exercise Group</label>
                        </div>
                    </div>

                    <!-- Input field for exercise name -->
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">directions_run</i>
                            <input name="exercise_name" type="text" required>
                            <label for="exercise_name">Exercise Name</label>
                        </div>
                    </div>

                    <!-- Input field for affected muscle names -->
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">linear_scale</i>
                            <input name="muscles" type="text" required>
                            <label for="muscles">Affected Muscles</label>
                        </div>
                    </div>

                    <!-- Select input field for exercise difficulty -->
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">network_check</i>
                            <select name="exercise_difficulty" required>
                                <option value="" disabled selected>Choose level of difficulty</option>
                                {% for dif in difficulties %}
                                <option value="{{dif}}">{{dif}}</option>
                                {% endfor %}
                            </select>
                            <label>Exercise Difficulty</label>
                        </div>
                    </div>

                    <!-- Input field for exercise equipment -->
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">settings</i>
                            <input name="equipment" type="text" required>
                            <label for="equipment">Equipment</label>
                        </div>
                    </div>
                    
                    <!-- Textarea input field for exercise instructions -->
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">info</i>
                            <textarea name="exercise_instructions" type="text" class="materialize-textarea" required></textarea>
                            <label for="exercise_instructions">Exercise Instructions</label>
                        </div>
                    </div>

                    <div class="row center">

                        <!-- Submit button -->
                        <div class="col m6 s12">
                            <button class="btn waves-effect waves-light home-btn btn-edit" type="submit" name="action">Add Exercise</button>
                        </div>

                        <!-- Cancel button -->
                        <div class="col m6 s12">
                            <a class="btn waves-effect waves-light home-btn btn-edit" href="{{url_for('get_category', category=category)}}">Cancel</a>
                        </div>
                    </div>
                </form>


			</div>
		</div>
	</div>
</section>
{% endblock %}