{% extends 'base.html' %}
{% block content %}
<section class="background-container">
	<div class="row">
		<div class="login-reg-box col s8 offset-s2">
			<div class="row">
				<h2>Add a new exercise</h2>
			</div>
			<div class="row center-align">
				<span class="col s10 offset-s1">Please fill out the following fields in order to add a new exercise.</span>
			</div>
			<div class="row">
				<form action="{{ url_for('insert_exercise') }}" method="POST" class="col s10 offset-s1">
					{{ form.hidden_tag() }}
					<div class="row">
						<div class="input-field col s12">
                            <i class="material-icons prefix">dashboard</i>{{ form.category_name.label }}<br>{{ form.category_name }}
                        </div>
					</div>
					<div class="row">
					    <div class="input-field col s12">
							<i class="material-icons prefix">directions_run</i>{{ form.exercise_name.label }}<br>{{ form.exercise_name(size=32) }}
                        </div>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<i class="material-icons prefix">linear_scale</i>{{ form.muscles.label }}<br>{{ form.muscles(size=32) }}
                        </div>
					</div>
                    <div class="row">
						<div class="input-field col s12">
							<i class="material-icons prefix">network_check</i>{{ form.exercise_difficulty.label }}<br>{{ form.exercise_difficulty(size=32) }}
                        </div>
					</div>
                    <div class="row">
						<div class="input-field col s12">
							<i class="material-icons prefix">settings</i>{{ form.equipment.label }}<br>{{ form.equipment(size=32) }}
                        </div>
					</div>
                    <div class="row">
						<div class="input-field col s12">
							<i class="material-icons prefix">info</i>{{ form.exercise_instructions.label }}<br><br>{{ form.exercise_instructions(size=32) }}
                        </div>
					</div>
                    
					<div class="row">
						<div class="col s12 center-align">
							<button class="waves-effect waves-light btn home-btn">{{ form.submit() }}</button>
                        </div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
{% endblock %}