{% extends 'base.html' %}
{% block content %}
<section class="background-container">
	<div class="row">
		<div class="login-reg-box col s8 offset-s2">

            <!-- Header -->
			<div class="row">
				<h2>Edit your exercise</h2>
			</div>
			<div class="row center-align">
				<span class="col s10 offset-s1">Please make the necessary changes in the corresponding fields below and then click on Save Changes.</span>
			</div>

			<div class="row">

                <!-- Edit form -->
                <form action="{{ url_for('update_exercise', exercise_id=exercise._id) }}" method="POST" class="col s10 offset-s1">
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">dashboard</i>
                            <input name="category_name" type="text" value="{{ exercise.category_name }}" required>
                            <label for="category_name">Exercise Group</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">directions_run</i>
                            <input name="exercise_name" type="text" value="{{ exercise.exercise_name }}" required>
                            <label for="exercise_name">Exercise Name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">linear_scale</i>
                            <input name="muscles" type="text" value="{{ exercise.muscles }}" required>
                            <label for="muscles">Affected Muscles</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">network_check</i>
                            <input name="exercise_difficulty" type="text" value="{{ exercise.exercise_difficulty }}" required>
                            <label for="exercise_difficulty">Exercise Difficulty</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">settings</i>
                            <input name="equipment" type="text" value="{{ exercise.equipment }}" required>
                            <label for="equipment">Equipment</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">info</i>
                            <textarea name="exercise_instructions" type="text" required>{{ exercise.exercise_instructions }}</textarea>
                            <label for="exercise_instructions">Exercise Instructions</label>
                        </div>
                    </div>
                    <div class="row center">

                        <!-- Submit and cancel button -->
                        <div class="col m6 s12">
                            <button class="btn waves-effect waves-light home-btn btn-edit" type="submit" name="action">Save Changes</button>
                        </div>
                        <div class="col m6 s12">
                            <a class="btn waves-effect waves-light home-btn btn-edit" href="{{url_for('my_exercises')}}">Cancel</a>
                        </div>
                    </div>                    
                </form>
			</div>
		</div>
	</div>
</section>
{% endblock %}