{% extends 'base.html' %}
{% block content %}
<section class="groups-container">
    <div class="row">
        <h2>Choose a Muscle Group</h2>
    </div>
    <div class="row">
        <p class="home-text">Choose one of the groups to display exercises for that group.</p>
    </div>
    <div class="row">
        <a href="{{ url_for('push') }}" class="group-bucket">
            <figure class="groups-box push-img col s12 m12 l5 offset-l1">
                <figure>
                    <figcaption class="group-name">Push</figcaption>
                </figure>
            </figure>
        </a>
        <a href="{{ url_for('pull') }}" class="group-bucket">
            <figure class="groups-box pull-img col s12 m12 l5">
                <figure>
                    <figcaption class="group-name">Pull</figcaption>
                </figure>
            </figure>
        </a>
    </div>
    <div class="row">
        <a href="{{ url_for('legs') }}" class="group-bucket">
            <figure class="groups-box legs-img col s12 m12 l5 offset-l1">
                <figure>
                    <figcaption class="group-name">Legs</figcaption>
                </figure>
            </figure>
        </a>
        <a href="{{ url_for('core') }}" class="group-bucket">
            <figure class="groups-box core-img col s12 m12 l5">
                <figure>
                    <figcaption class="group-name">Core</figcaption>
                </figure>
            </figure>
        </a>
    </div>                
</section>
{% endblock %}