{% extends 'base.html' %}
{% block content %}
<section class="background-container">

            <div class="row">
                <div class="home-box col s10 offset-s1">
                    <div class="row">
                        <h2>Welcome to<br>Find Your Workout</h2>
                    </div>
                    <div class="row">
                        <p class="home-text">Get inspiration for effective workouts and share your favorite exercises with others.</p>
                    </div>

                    <!-- Search bar -->
                    <div class="nav-wrapper">
                    <form action="{{ url_for('search') }}" method="POST" class="col s12">
                        <div class="input-field">
                            <input id="search_input" type="search" class="search-box" required>
                            <label class="label-icon" for="search_input"><i class="material-icons">search</i></label>
                            <i class="material-icons close-button">close</i>
                        </div>
                    </form>
                    </div>

                    <!-- Buttons for logged in users -->
                    {% if current_user.is_authenticated %}
                    <div class="row">
                        <a href="{{ url_for('muscle_groups') }}" class="waves-effect waves-light btn home-btn left-home-btn col s12 m4 offset-m2">All Exercises</a>
                        <a href="{{ url_for('my_exercises') }}" class="waves-effect waves-light btn home-btn col s12 m4">My Exercises</a>
                    </div>

                    <!-- Buttons for users that are not logged in -->
                    {% else %}
                    <div class="row">
                        <a href="{{ url_for('login') }}" class="waves-effect waves-light btn home-btn left-home-btn col s12 m4 offset-m2">Login</a>
                        <a href="{{ url_for('register') }}" class="waves-effect waves-light btn home-btn col s12 m4 offset-m1">Register</a>
                    </div>
                    {% endif %}
                </div>
            </div>

</section>
{% endblock %}