{% extends 'base.html' %}
{% block content %}

<section class="groups-container">
	<div class="">
		<div class="row">
			<h2>Legs Exercises</h2>
		</div>
		<div class="row">
			<p class="home-text">Find your favorite legs exercises. To add your own please log in.</p>
		</div>
	</div>

	{% for exercise in exercises %}

	<div class="row">
		<div class="col s12">
			<div class="card sticky-action horizontal">
				<div class="card-image legs-pic hide-on-small-only">
					<h3 class="header">Legs exercise</h3>
				</div>
				<div class="card-stacked">
					<div class="card-content valign-wrapper">
						<div>
                        <h3 class="exercise-name">{{exercise.exercise_name}}</h3>
						<p><strong>Affected Muscles: </strong>{{exercise.muscles}}</p>
						<p><strong>Exercise Difficulty: </strong>{{exercise.exercise_difficulty}}</p>
						<p><strong>Equipment: </strong>{{exercise.equipment}}</p>
						<p class="instructions"><strong>Exercise instructions: </strong>{{exercise.exercise_instructions}}</p>
					    </div>
                    </div>
					<div class="card-action">
                        {% if current_user.username == exercise.added_by %}
						<span class="left-button"><a href="#" class="waves-effect waves-light btn exercise-button">Edit</a></span>
						<span><a href="#" class="waves-effect waves-light btn exercise-button">Delete</a></span>
                        {% else %}
                        <span class="left-button"><a href="#" class="waves-effect waves-light btn btn_small exercise-button">Like<i class="material-icons right">thumb_up</i></a></span>
                        <span><a href="#" class="waves-effect waves-light btn btn_small exercise-button">Dislike<i class="material-icons right">thumb_down</i></a></span>
                        {% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>

	{% endfor %}

</section>

{% endblock %}